@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Payment Submission</title>
</head>
<body>
    <b>The content on this web page is the result of an HTTP POST operation to the Gateway, using the Payment API method.</b>
    <hr />
    <div>@ViewBag.PaymentResponse</div>
</body>
</html>