@{
    ViewData["Title"] = "Home Page";
}

<div class="tw-pt-16">
    <div class="tw-p-4 tw-grid tw-auto-rows-[42px] tw-gap-5" style="grid-template-columns: repeat(12, minmax(0, 128px));">
        <div class="tw-bg-gray-400 tw-col-span-4 tw-row-span-4 tw-rounded-[16px]"></div>
        <div class="tw-bg-gray-400 tw-col-span-2 tw-row-span-2 tw-rounded-[16px]"></div>
        <div class="tw-bg-gray-400 tw-col-span-2 tw-row-span-4 tw-rounded-[16px]"></div>
        <div class="tw-bg-gray-400 tw-col-span-2 tw-row-span-2 tw-rounded-[16px]"></div>
        <div class="tw-bg-gray-400 tw-col-span-2 tw-row-span-4 tw-rounded-[16px]"></div>
        @for(int i=0; i<12; i++)
        {
            <div class="tw-bg-gray-400 tw-col-span-4 tw-row-span-4 tw-rounded-[16px]"></div>
        }
    </div>
</div>