@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="tw-pt-16 tw-h-full tw-w-full">
    <p class="tw-text-center tw-justify-center tw-font-bold tw-bg-gray-100">Hello I am Abigail Keilitz and I am the best in the west</p>
</div>
